
.jumbotron {
  padding-top: 6rem;
  background-color: #69d9ec;
}
#Project {
  background-color: #69d9ec;
}

.text-white {
  background-color: #36a7c4;
}

section {
  padding-top: 5rem;
}
